---
import Printer from "@/assets/Printer.astro";
import Plotter from "@/assets/Plotter.astro";
import Options from "@/assets/Options.astro";
---

<header
  class="pointer-events-none fixed bottom-0 mt-auto flex w-full justify-center"
>
  <nav
    class="h-[75px] pointer-events-auto max-w-md w-full grid grid-cols-3 gap-4 border border-gray-400 bg-gray-300/70 px-4 py-2 backdrop-blur dark:border-gray-800/50 dark:bg-gray-950/70"
  >
    <a href="/" class="w-full flex justify-center items-center p-4"><Printer /></a>
    <a href="/plotter" class="w-full flex justify-center items-center p-4"><Plotter /></a>
    <a href="/user" class="w-full flex justify-center items-center p-4"><Options /></a>
  </nav>
</header>
