---
import Printer from "@/assets/Printer.astro";
import Plotter from "@/assets/Plotter.astro";
import Options from "@/assets/Options.astro";
---

<header class="sticky bottom-0 flex w-full justify-center p-4 pointer-events-none mt-auto">
  <nav
    class="flex items-center gap-4 rounded-full border border-gray-400 dark:border-gray-800/50 bg-gray-300/70 dark:bg-gray-950/70 px-4 py-2 backdrop-blur pointer-events-auto"
  >
    <a href="/" class="p-4 text-xs uppercase"><Printer /></a>
    <a href="/plotter" class="p-4 text-xs uppercase"><Plotter /></a>
    <a href="/user" class="p-4 text-xs uppercase"><Options /></a>
  </nav>
</header>
