---
import Nav from "@/components/Nav.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={Astro.props.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-gray-900 text-gray-100">
    <div class="overflow-x-hidden p-8 pb-28 max-w-xl mx-auto">
      <slot />
    </div>

    <Nav />
  </body>
</html>
