---
import Nav from "@/components/Nav.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={Astro.props.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-gray-200 text-gray-700 dark:bg-gray-900 dark:text-gray-100 overflow-hidden">
    <div class="mx-auto flex max-w-md flex-col gap-4 h-[calc(100vh_-_75px)] overflow-y-auto">
      <slot />
    </div>
    <Nav />
  </body>
</html>

<style>
  :root {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
  }
</style>

<script>
  import { navigate } from "astro:transitions/client";

  window.addEventListener("keydown", (ev) => {
    const { altKey, key } = ev;

    if (altKey && key === "1") navigate("/");
    if (altKey && key === "2") navigate("/plotter");
    if (altKey && key === "3") navigate("/user");
  });
</script>
